
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10rem 1.5rem 10rem;
  background-color: #000000;
}
.left {
  flex: 1;
}
.right {
  margin-left: auto;
}

.logo, .cart {
  height: 40px;
}
